html {
  border: 5px solid black;
  background-color: rgb(93, 113, 31)
}

h1  {
  text-align: center;
}

.container {
  display: flex;
  justify-content: space-evenly;

}

#header {
  display: none;
}

#rock {
  height: 10em;
  width: 10em;
  border: 1px solid black;
  color: rgb(1, 1, 1)
  flex: display left;

}
#paper {
  height: 10em;
  width: 10em;
  border: 1px solid black;
  color: rgb(1, 1, 1)

}

#scissors {
  height: 10em;
  width: 10em;
  border: 1px solid black;
  color: rgb(1, 1, 1)

}

.display {


}



#winner {
  display: none;
  height: 10em;
  width: 10em;
  border: 1px solid black;
  color: rgb(1, 1, 1)
}
#r{display: none;}
#p{display: none;}
#s{display: none;}
#c{display: none;}
#w{display: none;}
